.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-image-1 {
  width: 1614px;
  height: 840px;
  animation-duration: 1000ms;
  margin: 0 auto 14px -359px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-image-1 {
    width: 1292px;
    height: 651px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-image-1 {
    width: 1022px;
    height: 550px;
    margin-top: -1px;
    margin-left: -233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-1 .u-image-1 {
    width: 798px;
    height: 335px;
    margin-bottom: 15px;
    margin-left: -185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-image-1 {
    width: 547px;
    height: 208px;
    margin-top: 0;
    margin-left: -145px;
  }
}.u-section-2 {
  min-height: 851px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/mod.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  width: 222px;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 820px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/53e9dc4b4a57aa14f6da8c7dda79367d1d38d6ed5b586c48732e78dc904cc25db1_1280.jpg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 0 57px;
}

.u-section-2 .u-line-1 {
  height: 364px;
  transform-origin: center top;
  width: 20px;
  margin: 1px 57px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 825px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 252px;
  }

  .u-section-2 .u-text-1 {
    width: 304px;
    font-size: 3rem;
    margin-top: 16px;
  }

  .u-section-2 .u-image-2 {
    min-height: 732px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 73px;
    margin-left: 48px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 7px;
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 763px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 202px;
  }

  .u-section-2 .u-image-2 {
    min-height: 722px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 30px;
    margin-left: 43px;
  }

  .u-section-2 .u-line-1 {
    height: 269px;
    margin-top: 3px;
    margin-right: 30px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 825px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-2 .u-image-1 {
    width: 165px;
    height: 165px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 1083px;
  }

  .u-section-2 .u-text-2 {
    width: 356px;
    margin-top: 142px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: -6px;
    margin-right: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 862px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    width: 96px;
    height: 96px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 682px;
  }

  .u-section-2 .u-text-2 {
    width: 318px;
    margin-top: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 12px;
    margin-right: 51px;
  }
}.u-section-3 {
  min-height: 851px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/50e0d5404c50ad14f6da8c7dda79367d1d38d6ed5b586c48732e78dc904cc25db1_1280.jpg");
  min-height: 960px;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 0 57px;
}

.u-section-3 .u-line-1 {
  height: 379px;
  transform-origin: center top;
  width: 20px;
  margin: 29px 37px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 959px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/fezla.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  width: 222px;
  font-weight: 700;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 683px;
  }

  .u-section-3 .u-image-1 {
    animation-duration: 1000ms;
    min-height: 791px;
  }

  .u-section-3 .u-text-1 {
    width: 400px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    height: 277px;
    transform-origin: center bottom;
    margin-top: 22px;
    margin-right: 48px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 791px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 253px;
    height: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 871px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-image-1 {
    min-height: 830px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-line-1 {
    height: 221px;
    margin-top: 21px;
    margin-right: 52px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 830px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1333px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1245px;
  }

  .u-section-3 .u-text-1 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 23px;
    margin-right: 147px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 481px;
  }

  .u-section-3 .u-image-1 {
    min-height: 784px;
  }

  .u-section-3 .u-text-1 {
    width: 318px;
    margin-top: -475px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 16px;
    margin-right: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-3 .u-image-2 {
    width: 95px;
    height: 95px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  min-height: 851px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/WhatsAppImage2021-02-21at11.12.14.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  width: 222px;
  margin: 10px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 820px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/53e9d2464c57ac14f6da8c7dda79367d1d38d6ed5b586c48732e78dc9e4acd50bd_1280.jpg");
  animation-duration: 1000ms;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-text-2 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 0 57px;
}

.u-section-4 .u-line-1 {
  height: 330px;
  transform-origin: center top;
  width: 20px;
  margin: -2px 57px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 825px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 915px;
  }

  .u-section-4 .u-image-1 {
    width: 318px;
    height: 318px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-image-2 {
    min-height: 915px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 73px;
    margin-left: 48px;
  }

  .u-section-4 .u-line-1 {
    margin-right: 7px;
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 1013px;
  }

  .u-section-4 .u-image-1 {
    width: 244px;
    height: 244px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 1013px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 30px;
    margin-left: 43px;
  }

  .u-section-4 .u-line-1 {
    height: 286px;
    transform-origin: center bottom;
    margin-right: 30px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-4 .u-image-1 {
    width: 194px;
    height: 194px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 877px;
  }

  .u-section-4 .u-text-2 {
    width: 356px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    height: 165px;
    margin-top: 31px;
    margin-right: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-4 .u-image-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 9px;
  }

  .u-section-4 .u-image-2 {
    min-height: 552px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 50px;
    margin-left: 22px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 22px;
    margin-right: 33px;
  }
}.u-section-5 {
  min-height: 982px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-5 .u-image-1 {
  min-height: 951px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/53e9d2474957a514f6da8c7dda79367d1d38d6ed5b586c48732e78dd974ecc51b8_1280.jpg");
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 0 57px;
}

.u-section-5 .u-line-1 {
  height: 456px;
  transform-origin: center top;
  width: 20px;
  margin: 21px 57px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 951px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/WhatsAppImage2021-02-21at11.27.27.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 216px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  width: 222px;
  font-weight: 700;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 683px;
  }

  .u-section-5 .u-image-1 {
    animation-duration: 1000ms;
    min-height: 784px;
  }

  .u-section-5 .u-text-1 {
    width: 400px;
    margin-top: 210px;
    margin-right: 66px;
    margin-left: 54px;
  }

  .u-section-5 .u-line-1 {
    height: 296px;
    transform-origin: center bottom;
    margin-right: 7px;
    margin-left: 446px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 784px;
  }

  .u-section-5 .u-image-2 {
    width: 253px;
    height: 253px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 410px;
  }

  .u-section-5 .u-image-1 {
    min-height: 601px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-line-1 {
    height: 103px;
    margin-right: 0;
    margin-left: 357px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-5 .u-text-2 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1076px;
  }

  .u-section-5 .u-image-1 {
    min-height: 721px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-text-1 {
    width: 356px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-1 {
    margin-top: 60px;
    margin-right: 122px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-1 {
    min-height: 531px;
  }

  .u-section-5 .u-text-1 {
    width: 318px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 39px;
    margin-right: 49px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-5 .u-image-2 {
    width: 95px;
    height: 95px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
}.u-section-6 {
  min-height: 851px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 0 31px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/WhatsAppImage2021-02-21at11.59.46.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  width: 222px;
  margin: 10px auto 0;
}

.u-section-6 .u-image-2 {
  min-height: 820px;
  animation-duration: 1000ms;
  background-image: url("images/55e2d1424d57b108f5d08460962934761237d6ed5a4c704f742c73dd9045cd5d_1280.jpg");
}

.u-section-6 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 0 67px 0 47px;
}

.u-section-6 .u-line-1 {
  height: 513px;
  transform-origin: center top;
  width: 20px;
  margin: 0 auto 0 583px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 825px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-6 .u-image-1 {
    width: 289px;
    height: 289px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-6 .u-image-2 {
    min-height: 732px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 74px;
    margin-left: 48px;
  }

  .u-section-6 .u-line-1 {
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 762px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-6 .u-image-1 {
    width: 194px;
    height: 194px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-2 {
    min-height: 722px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 261px;
    margin-right: 38px;
    margin-left: 37px;
  }

  .u-section-6 .u-line-1 {
    height: 371px;
    margin-top: 13px;
    margin-bottom: -1px;
    margin-left: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 825px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-6 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-2 {
    min-height: 1083px;
  }

  .u-section-6 .u-text-2 {
    width: 356px;
    margin-top: 0;
    margin-right: 152px;
    margin-left: 132px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 106px;
    margin-bottom: 0;
    margin-left: 488px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 773px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-6 .u-image-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-2 {
    min-height: 491px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 81px;
    margin-right: 30px;
    margin-left: 42px;
  }

  .u-section-6 .u-line-1 {
    height: 282px;
    left: auto;
    top: 209px;
    position: absolute;
    right: 30px;
    margin-top: 0;
    margin-left: 320px;
  }
}.u-section-7 {
  min-height: 868px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 45px;
}

.u-section-7 .u-image-1 {
  min-height: 820px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/57e6d04b4b5bb108f5d08460962934761237d6ed5a4c704f742c73dd9045cd5d_1280.jpg");
}

.u-section-7 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  font-size: 2.25rem;
  margin: 91px 70px 0 43px;
}

.u-section-7 .u-line-1 {
  height: 106px;
  transform-origin: center top;
  top: 714px;
  position: absolute;
  width: 20px;
  left: auto;
  right: 50px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 820px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  font-weight: 700;
  width: 222px;
  margin: 0 auto;
}

.u-section-7 .u-image-2 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/hiba.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -457px auto -343px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 1141px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 54px;
  }

  .u-section-7 .u-image-1 {
    animation-duration: 1000ms;
    min-height: 1084px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-right: 45px;
    margin-left: 75px;
  }

  .u-section-7 .u-line-1 {
    top: 978px;
    right: 45px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 1084px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 315px;
    margin-right: 126px;
    margin-left: 147px;
  }

  .u-section-7 .u-image-2 {
    width: 315px;
    height: 315px;
    margin-top: -393px;
    margin-bottom: -258px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1051px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 1000px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 28px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-7 .u-line-1 {
    height: 169px;
    transform-origin: center bottom;
    top: 829px;
    right: 37px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 1000px;
  }

  .u-section-7 .u-text-2 {
    width: 225px;
    font-size: 2.25rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    width: 225px;
    height: 225px;
    margin-top: -296px;
    margin-bottom: -182px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1248px;
  }

  .u-section-7 .u-image-1 {
    min-height: 805px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    width: 428px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-line-1 {
    height: 145px;
    top: 661px;
    right: 86px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-2 {
    width: 165px;
    height: 165px;
    margin-top: -217px;
    margin-bottom: -129px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 879px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 671px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 56px;
    margin-right: 52px;
    margin-left: 70px;
  }

  .u-section-7 .u-line-1 {
    height: 108px;
    top: 563px;
    right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-2 {
    width: 95px;
    height: 95px;
    margin-top: -138px;
    margin-bottom: -67px;
  }
}.u-section-8 {
  min-height: 851px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("images/WhatsAppImage2021-02-21at20.12.19.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  width: 222px;
  margin: 10px auto 0;
}

.u-section-8 .u-image-2 {
  min-height: 820px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/57e6d1414355ac14f6da8c7dda79367d1d38d6ed5b586c48732e78dd9448c65cba_1280.jpg");
}

.u-section-8 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-8 .u-text-2 {
  background-image: none;
  font-family: "Roboto Slab", serif;
  margin: 229px 57px 0;
}

.u-section-8 .u-line-1 {
  height: 513px;
  transform-origin: center top;
  width: 20px;
  margin: 0 auto 0 574px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 825px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 809px;
  }

  .u-section-8 .u-image-1 {
    width: 318px;
    height: 318px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-8 .u-image-2 {
    min-height: 809px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 73px;
    margin-left: 48px;
  }

  .u-section-8 .u-line-1 {
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-8 .u-image-1 {
    width: 224px;
    height: 224px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-2 {
    min-height: 722px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-8 .u-line-1 {
    height: 280px;
    transform-origin: center bottom;
    margin-top: 17px;
    margin-right: 49px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1221px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-8 .u-image-1 {
    width: 157px;
    height: 157px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    min-height: 770px;
  }

  .u-section-8 .u-text-2 {
    width: 306px;
    margin-top: 194px;
    margin-right: 177px;
    margin-left: 157px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 53px;
    margin-left: 463px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 741px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-8 .u-image-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 9px;
  }

  .u-section-8 .u-image-2 {
    min-height: 485px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 168px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-8 .u-line-1 {
    height: 142px;
    left: auto;
    top: 343px;
    position: absolute;
    right: 36px;
    margin-right: 0;
    margin-left: 320px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 344px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 920px;
  min-height: 341px;
  margin: -117px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 341px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-9 .u-text-1 {
  font-family: "Cedarville Cursive";
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 759px;
    margin-left: 91px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 581px;
    margin-left: auto;
    margin-bottom: 0;
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 488px;
    margin-top: -114px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 76px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 307px;
    margin-top: -116px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: -5px;
  }
}.u-section-10 {
  min-height: 688px;
}

.u-section-10 .u-group-1 {
  margin-top: 60px;
  margin-bottom: 0;
  min-height: 250px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 154px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-10 .u-image-1 {
  background-image: url("images/fezla1.jpeg");
}

.u-section-10 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-10 .u-image-2 {
  background-image: url("images/fezla2.jpeg");
}

.u-section-10 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-10 .u-image-3 {
  background-image: url("images/fezla3.jpeg");
  transition-duration: 0.5s;
}

.u-section-10 .u-container-layout-4 {
  padding: 0;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-10 .u-image-4 {
  background-image: url("images/hiba1.jpeg");
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 318px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 128px;
  }

  .u-section-10 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 984px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 1606px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 59px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 59px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 474px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 477px;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    min-height: 1252px;
  }

  .u-section-10 .u-group-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 1px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 298px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 300px;
  }
}.u-section-11 {
  min-height: 318px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-11 .u-image-1 {
  background-image: url("images/hiba2.jpeg");
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-image-2 {
  min-height: 318px;
  background-image: url("images/anniv.jpg");
}

.u-section-11 .u-image-3 {
  background-image: url("images/anniv.jpg");
}

.u-section-11 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-11 .u-image-4 {
  background-image: url("images/souhail1.jpeg");
}

.u-section-11 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-11 .u-image-5 {
  background-image: url("images/souhail2.jpeg");
}

@media (max-width: 1199px) {
  .u-section-11 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-11 {
    min-height: 1900px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-11 .u-image-2 {
    min-height: 475px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-11 {
    min-height: 186px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-11 .u-image-2 {
    min-height: 299px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 299px;
  }
}.u-section-12 {
  min-height: 318px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-12 .u-image-1 {
  background-image: url("images/souhail3.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-image-2 {
  min-height: 318px;
  background-image: url("images/anniv.jpg");
}

.u-section-12 .u-image-3 {
  background-image: url("images/souhail4.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-12 .u-image-4 {
  background-image: url("images/WhatsAppImage2021-02-21at11.10.55.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-3 {
  padding: 0;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-12 .u-image-5 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.26.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-12 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-12 .u-image-2 {
    min-height: 475px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-12 {
    min-height: 186px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-12 .u-image-2 {
    min-height: 299px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 299px;
  }
}.u-section-13 {
  min-height: 318px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-13 .u-image-1 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.271.jpeg");
  background-position: 50% 50%;
}

.u-section-13 .u-image-2 {
  min-height: 318px;
  background-image: url("images/anniv.jpg");
}

.u-section-13 .u-image-3 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.272.jpeg");
  background-position: 50% 50%;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 318px;
  animation-duration: 1000ms;
}

.u-section-13 .u-image-4 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.273.jpeg");
}

.u-section-13 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-13 .u-image-5 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.274.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-13 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-13 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-13 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-13 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-13 .u-image-2 {
    min-height: 475px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-13 {
    min-height: 186px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-13 .u-image-2 {
    min-height: 299px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 299px;
  }
}.u-section-14 {
  min-height: 318px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-14 .u-image-1 {
  background-image: url("images/WhatsAppImage2021-02-21at11.27.27.jpeg");
  background-position: 50% 50%;
}

.u-section-14 .u-image-2 {
  min-height: 318px;
  background-image: url("images/anniv.jpg");
}

.u-section-14 .u-image-3 {
  background-image: url("images/WhatsAppImage2021-02-21at11.28.28.jpeg");
  background-position: 50% 50%;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 318px;
  animation-duration: 1000ms;
}

.u-section-14 .u-image-4 {
  background-image: url("images/WhatsAppImage2021-02-21at11.36.38.jpeg");
}

.u-section-14 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-14 .u-image-5 {
  background-image: url("images/WhatsAppImage2021-02-21at11.36.391.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-14 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-14 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-14 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-14 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-14 .u-image-2 {
    min-height: 475px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-14 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-14 {
    min-height: 186px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-14 .u-image-2 {
    min-height: 299px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-14 .u-layout-cell-4 {
    min-height: 299px;
  }
}.u-section-15 {
  min-height: 318px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-15 .u-image-1 {
  background-image: url("images/WhatsAppImage2021-02-21at11.36.39.jpeg");
  background-position: 50% 50%;
}

.u-section-15 .u-image-2 {
  min-height: 318px;
  background-image: url("images/anniv.jpg");
}

.u-section-15 .u-image-3 {
  background-image: url("images/WhatsAppImage2021-02-21at11.36.40.jpeg");
  background-position: 50% 50%;
}

.u-section-15 .u-layout-cell-3 {
  min-height: 318px;
  animation-duration: 1000ms;
}

.u-section-15 .u-image-4 {
  background-image: url("images/IMG-20200224-WA0005.jpg");
  background-position: 50% 50%;
}

.u-section-15 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-15 .u-image-5 {
  background-image: url("images/IMG-20200224-WA0009.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-15 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-15 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-15 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-15 .u-layout-cell-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-15 .u-image-2 {
    min-height: 475px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-15 {
    min-height: 186px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-15 .u-image-2 {
    min-height: 299px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 299px;
  }
}.u-section-16 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-16 .u-group-1 {
  width: 800px;
  margin: 125px auto;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-family: "Cedarville Cursive";
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-16 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-group-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 {
    min-height: 500px;
  }

  .u-section-16 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 250px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.5rem;
  }
}h2.anass {
	color : black;
}